@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Layout.cshtml";
}

<div class="master-column-wrapper">
    @Html.Partial("Categories")
    <div class="center-2">
        <div class="page news-item-page">
            <div class="page-title">
                <h1>@Model.Content.GetPropertyValue("pageTitle", Model.Content.Name)</h1>
            </div>
            <div class="page-body">
                @{
                    DateTime date;
                    string dateFormat = "";
                }
                @if (Model.Content.HasValue("date"))
                {
                    date = Model.Content.GetPropertyValue<DateTime>("date");
                    dateFormat = string.Format(date.ToString("-dddd, MMMM dd, yyyy"));
                    <div class="news-date">
                        @dateFormat
                    </div>
                }

                <div class="news-body">
                    @Model.Content.GetPropertyValue("description")
                </div>
            </div>
        </div>
    </div>
</div>
