@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "_Layout.cshtml";
}

<div class="master-column-wrapper">
    <div class="center-1">
        @Html.Partial("Register")
    </div>
</div>