<style>
   
</style>
<div id="header">
    <div class="umb-panel-header-name">Orders</div>
</div>
<div class="nop-content" ng-controller="Nop.OrdersController">
    <div class="row-fluid" ng-if="!isEdit">
        <div>
            <table class="table table-striped warranty-table">
                <thead>
                    <tr>
                        <td><span>Id</span></td>
                        <td><span>Paid Date</span></td>
                        <td><span>Order Total</span></td>
                        <td><span>Payment Status</span></td>
                        <td><span>Customer</span></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in viewData">
                        <td ng-bind='order.id'></td>
                        <td ng-bind="order.paid_date_utc | date:'MM/dd/yyyy'"></td>
                        <td ng-bind='order.order_total | currency:"$"'></td>
                        <td ng-bind="order.payment_status"></td>
                        <td>{{order.customer.first_name + ' ' + order.customer.last_name}}</td>
                    </tr>
                </tbody>
                <tfoot ng-show="pagination.length > 1">
                    <tr>
                        <th colspan="5">
                           
                            <div class="pagination text-center">
                                <ul>
                                    <li ng-class="{disabled:options.pageNumber <= 1}">
                                        <a href="#" ng-click="prev(); resetChanges()" prevent-default>
                                            <localize key="general_previous">Previous</localize>
                                        </a>
                                    </li>
                                    <li ng-repeat="pgn in pagination"
                                        ng-class="{active:pgn.isActive}">
                                        <a href="#" ng-click="goToPage(pgn.val - 1); resetChanges()" prevent-default
                                           ng-bind="pgn.name ? pgn.name : pgn.val"
                                           ng-if="pgn.val != '...'"></a>
                                        <span ng-bind="pgn.val" ng-if="pgn.val == '...'"></span>
                                    </li>
                                    <li ng-class="{disabled:options.pageNumber >= totalPages}">
                                        <a href="#" ng-click="next(); resetChanges()" prevent-default>
                                            <localize key="general_next">Next</localize>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="no-results" ng-if="viewData.length == 0">
            No matching results
        </div>
    </div>
</div>
