
.pager li.PagedList-skipToPrevious a, .pager li.PagedList-skipToNext a {
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    color: #fff;
}

.pager li.PagedList-skipToPrevious a {
    background-image: url(../images/prev.png);
}

.pager li.PagedList-skipToNext a {
    background-image: url(../images/next.png);
}

.pager li.active a {
    border-color: transparent;
    background-color: #4ab2f1;
    color: #fff;
}

tbody .product-picture img {
    width: 80px;
}

.header-links .ico-logout.btn {
    border: none;
    background-color: inherit;
    color: inherit;
    font-size: 12px;
}

.header-links .ico-logout.btn:hover {
   color: #4ab2f1;
}
