@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var selection = Model.Content.Ancestors();
}

@if (selection.Any())
{
    <ul class="breadcrumb">
        @foreach (var item in selection.OrderBy(x => x.Level))
        {
            <li>
                <span>
                    <a href="@item.Url">
                        <span itemprop="title">@item.Name</span>
                    </a>
                </span>
                <span class="delimiter">/</span>
            </li>
        }
        <li>
            <strong class="current-item">@Model.Content.Name</strong>
        </li>
    </ul>
}