<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT BasePage ANY>
<!ATTLIST BasePage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT pageNotFound ANY>
<!ATTLIST pageNotFound id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT categoryOverview ANY>
<!ATTLIST categoryOverview id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT productsOverview ANY>
<!ATTLIST productsOverview id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT subCategory ANY>
<!ATTLIST subCategory id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT cart ANY>
<!ATTLIST cart id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT register ANY>
<!ATTLIST register id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1056" key="74bdc8a3-e5e7-4dd8-867e-9054a03261d0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-22T23:14:42" updateDate="2017-04-18T12:48:01" nodeName="HomePage" urlName="homepage" path="-1,1056" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="homePage">
    <hideChildren>0</hideChildren>
    <umbracoNaviHide>0</umbracoNaviHide>
    <noFollow>0</noFollow>
    <noIndex>0</noIndex>
    <rss><![CDATA[/news/rss/1]]></rss>
    <youtube><![CDATA[http://www.youtube.com/user/nopCommerce]]></youtube>
    <facebook><![CDATA[http://www.facebook.com/nopCommerce]]></facebook>
    <twitter><![CDATA[https://twitter.com/nopCommerce]]></twitter>
    <googlePlus><![CDATA[https://plus.google.com/+nopcommerce]]></googlePlus>
    <copyright><![CDATA[Copyright © 2017 Your store name. All rights reserved.]]></copyright>
    <footer><![CDATA[{"fieldsets":[{"properties":[{"alias":"title","value":"Information"},{"alias":"links","value":"[\r\n  {\r\n    \"id\": \"1148\",\r\n    \"name\": \"Privacy notice\",\r\n    \"url\": \"/privacy-notice/\",\r\n    \"icon\": \"icon-document color-orange\"\r\n  },\r\n  {\r\n    \"id\": \"1149\",\r\n    \"name\": \"Conditions of Use\",\r\n    \"url\": \"/conditions-of-use/\",\r\n    \"icon\": \"icon-document color-orange\"\r\n  },\r\n  {\r\n    \"id\": \"1147\",\r\n    \"name\": \"Shipping & returns\",\r\n    \"url\": \"/shipping-returns/\",\r\n    \"icon\": \"icon-document color-orange\"\r\n  },\r\n  {\r\n    \"id\": \"1152\",\r\n    \"name\": \"Sitemap\",\r\n    \"url\": \"/sitemap/\",\r\n    \"icon\": \"icon-mindmap color-orange\"\r\n  }\r\n]"}],"alias":"footer","disabled":false,"id":"d3fc3e17-0cce-400f-a734-7ace9f92fe58","releaseDate":null,"expireDate":null,"allowedMemberGroups":""}]}]]></footer>
    <search id="1057" key="f56c5216-7fd9-470e-bd31-0a8ac33804ff" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2017-01-22T23:16:51" updateDate="2017-01-22T23:17:23" nodeName="search" urlName="search" path="-1,1056,1057" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="search">
      <hideChildren>0</hideChildren>
      <umbracoNaviHide>1</umbracoNaviHide>
    </search>
    <pageNotFound id="1058" key="c54a7a1c-09f1-4a72-93dc-0b0fe2958841" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2017-01-22T23:17:02" updateDate="2017-01-22T23:17:28" nodeName="404" urlName="404" path="-1,1056,1058" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="pageNotFound">
      <hideChildren>0</hideChildren>
      <umbracoNaviHide>1</umbracoNaviHide>
    </pageNotFound>
    <categoryOverview id="1070" key="3445377a-ef22-457a-8e14-dfbfc9072d29" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2017-03-31T14:36:45" updateDate="2017-04-13T17:43:11" nodeName="Category Overview" urlName="category-overview" path="-1,1056,1070" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1062" nodeTypeAlias="categoryOverview">
      <category id="1072" key="c40cfba1-330e-45bf-a33e-0e99cbb30a4c" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2017-03-31T14:37:43" updateDate="2017-04-18T16:39:02" nodeName="Computers" urlName="computers" path="-1,1056,1070,1072" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="category">
        <pageSize>2</pageSize>
        <subCategory id="1120" key="e9ef22dc-057f-4da4-9cc2-de193ed32acc" parentID="1072" level="4" creatorID="0" sortOrder="0" createDate="2017-04-13T18:41:50" updateDate="2017-04-17T09:49:03" nodeName="Desctops" urlName="desctops" path="-1,1056,1070,1072,1120" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="subCategory">
          <image><![CDATA[umb://media/d8e5cf1e6e2d45a0a626e37399bb0897]]></image>
        </subCategory>
        <subCategory id="1121" key="e988b7d3-73c1-49ab-b716-eb2baa91cb19" parentID="1072" level="4" creatorID="0" sortOrder="1" createDate="2017-04-13T18:42:58" updateDate="2017-04-17T09:49:09" nodeName="Notebooks" urlName="notebooks" path="-1,1056,1070,1072,1121" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="subCategory">
          <image><![CDATA[umb://media/32d6a2222feb482eb9f6b1501f03b1c0]]></image>
        </subCategory>
        <subCategory id="1122" key="e4bf277d-ce59-4a1b-a4d2-18730b755394" parentID="1072" level="4" creatorID="0" sortOrder="2" createDate="2017-04-13T18:43:08" updateDate="2017-04-17T09:49:16" nodeName="Software" urlName="software" path="-1,1056,1070,1072,1122" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="subCategory">
          <image><![CDATA[umb://media/6714e7c5388e4c36a97e303319be6445]]></image>
        </subCategory>
      </category>
      <category id="1118" key="07c4a0f9-ef8e-4140-83be-44f872bfd85e" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2017-04-13T18:38:41" updateDate="2017-04-13T18:38:41" nodeName="Electronics" urlName="electronics" path="-1,1056,1070,1118" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="category">
        <subCategory id="1123" key="0cc63866-dd40-4e8e-9278-276980a119ea" parentID="1118" level="4" creatorID="0" sortOrder="0" createDate="2017-04-13T18:43:19" updateDate="2017-04-13T18:43:19" nodeName="Camera" urlName="camera" path="-1,1056,1070,1118,1123" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="subCategory" />
        <subCategory id="1124" key="fb8efbe3-c810-4ce8-913f-973b3a505316" parentID="1118" level="4" creatorID="0" sortOrder="1" createDate="2017-04-13T18:43:26" updateDate="2017-04-13T18:43:26" nodeName="Cell phones" urlName="cell-phones" path="-1,1056,1070,1118,1124" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="subCategory" />
        <subCategory id="1125" key="44ee2914-2d17-4ca5-b5d1-500dcd3448a5" parentID="1118" level="4" creatorID="0" sortOrder="2" createDate="2017-04-13T18:43:33" updateDate="2017-04-13T18:43:33" nodeName="Others" urlName="others" path="-1,1056,1070,1118,1125" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="subCategory" />
      </category>
      <category id="1119" key="cdacf641-6e9f-46bb-b077-a83d5e5eb533" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2017-04-13T18:38:53" updateDate="2017-04-18T18:17:59" nodeName="Apparel" urlName="apparel" path="-1,1056,1070,1119" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="category">
        <pageSize>2</pageSize>
        <subCategory id="1126" key="7185e490-1b9e-4ecb-8440-94bff1c680fa" parentID="1119" level="4" creatorID="0" sortOrder="0" createDate="2017-04-13T18:43:42" updateDate="2017-04-13T18:43:42" nodeName="Accessories" urlName="accessories" path="-1,1056,1070,1119,1126" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="subCategory" />
        <subCategory id="1127" key="15935f2f-bd18-442b-bc48-10905b3901fd" parentID="1119" level="4" creatorID="0" sortOrder="1" createDate="2017-04-13T18:43:58" updateDate="2017-04-13T18:43:58" nodeName="Clothing" urlName="clothing" path="-1,1056,1070,1119,1127" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="subCategory" />
        <subCategory id="1128" key="18b5c8d2-efc0-485d-8d1d-e2e4187115ca" parentID="1119" level="4" creatorID="0" sortOrder="2" createDate="2017-04-13T18:44:08" updateDate="2017-04-13T18:44:08" nodeName="Shoes" urlName="shoes" path="-1,1056,1070,1119,1128" isDoc="" nodeType="1117" creatorName="admin" writerName="admin" writerID="0" template="1116" nodeTypeAlias="subCategory" />
      </category>
      <category id="1129" key="459d93aa-b787-429b-ad2c-429a62ffaa80" parentID="1070" level="3" creatorID="0" sortOrder="3" createDate="2017-04-13T18:44:25" updateDate="2017-04-13T18:44:25" nodeName="Digital downloads" urlName="digital-downloads" path="-1,1056,1070,1129" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="category" />
      <category id="1130" key="a21e7275-9017-44ce-a5b8-d027290ba0ff" parentID="1070" level="3" creatorID="0" sortOrder="4" createDate="2017-04-13T18:44:37" updateDate="2017-04-13T18:44:37" nodeName="Books" urlName="books" path="-1,1056,1070,1130" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="category" />
      <category id="1131" key="4c507f78-8af7-4e02-9dbb-45fd416c4ab7" parentID="1070" level="3" creatorID="0" sortOrder="5" createDate="2017-04-13T18:44:47" updateDate="2017-04-13T18:44:47" nodeName="Jewelry" urlName="jewelry" path="-1,1056,1070,1131" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="category" />
      <category id="1132" key="23339aef-4fa7-4e7a-b551-71f3f3fc9c7d" parentID="1070" level="3" creatorID="0" sortOrder="6" createDate="2017-04-13T18:45:05" updateDate="2017-04-13T18:45:05" nodeName="Gift Cards" urlName="gift-cards" path="-1,1056,1070,1132" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="category" />
    </categoryOverview>
    <productsOverview id="1071" key="568096fb-8c2a-47f4-b33f-857807fd9d3e" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2017-03-31T14:36:59" updateDate="2017-03-31T14:36:59" nodeName="Products Overview" urlName="products-overview" path="-1,1056,1071" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="1066" nodeTypeAlias="productsOverview">
      <product id="1074" key="f9240315-b816-4f18-b58b-c0fcdcb1d9aa" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2017-03-31T14:38:15" updateDate="2017-04-19T17:21:18" nodeName="adidas Consortium Campus 80s Running Shoes" urlName="adidas-consortium-campus-80s-running-shoes" path="-1,1056,1071,1074" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[1]]></nopId>
        <productDescription><![CDATA[<p><span>One of three colorways of the adidas Consortium Campus 80s Primeknit set to drop alongside each other. This pair comes in light maroon and running white. Featuring a maroon-based primeknit upper with white accents. A limited release, look out for these at select adidas Consortium accounts worldwide.</span></p>]]></productDescription>
        <description><![CDATA[adidas Consortium Campus 80s Primeknit Light Maroon/Running Shoes]]></description>
        <productImage><![CDATA[umb://media/9dad60fc32144f6b99e5ff5fbb816892,umb://media/346e68ba6ec94dc78419dae3d252471b,umb://media/67320900e5214a1eb63209d4521c527a]]></productImage>
      </product>
      <product id="1075" key="8fca6ba8-d5e0-4e67-82e6-4e17c94bcf9a" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2017-03-31T14:38:22" updateDate="2017-04-19T17:06:17" nodeName="Digital Storm VANQUISH 3 Custom Performance PC" urlName="digital-storm-vanquish-3-custom-performance-pc" path="-1,1056,1071,1075" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[2]]></nopId>
        <productImage><![CDATA[umb://media/ae6e89b4898e489285887dc63cb6dbd1]]></productImage>
        <category><![CDATA[umb://document/e9ef22dc057f4da49cc2de193ed32acc,umb://document/e988b7d373c149abb716eb2baa91cb19]]></category>
      </product>
      <product id="1144" key="a9543caf-df81-40c3-9282-c7ad8ecb4375" parentID="1071" level="3" creatorID="0" sortOrder="2" createDate="2017-04-18T11:21:00" updateDate="2017-04-19T11:52:45" nodeName="Apple MacBook Pro 13-inch" urlName="apple-macbook-pro-13-inch" path="-1,1056,1071,1144" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[4]]></nopId>
        <productDescription><![CDATA[<p>With fifth-generation Intel Core processors, the latest graphics, and faster flash storage, the incredibly advanced MacBook Pro with Retina display moves even further ahead in performance and battery life.* *Compared with the previous generation.</p>
<p>Retina display with 2560-by-1600 resolution</p>
<p>Fifth-generation dual-core Intel Core i5 processor</p>
<p>Intel Iris Graphics</p>
<p>Up to 9 hours of battery life1</p>
<p>Faster flash storage2</p>
<p>802.11ac Wi-Fi</p>
<p>Two Thunderbolt 2 ports for connecting high-performance devices and transferring data at lightning speed</p>
<p>Two USB 3 ports (compatible with USB 2 devices) and HDMI</p>
<p>FaceTime HD camera</p>
<p>Pages, Numbers, Keynote, iPhoto, iMovie, GarageBand included</p>
<p>OS X, the world's most advanced desktop operating system</p>]]></productDescription>
        <description><![CDATA[A groundbreaking Retina display. A new force-sensing trackpad. All-flash architecture. Powerful dual-core and quad-core Intel processors. Together, these features take the notebook to a new level of performance. And they will do the same for you in everything you create.]]></description>
        <productImage><![CDATA[umb://media/a306060db3334d39a36f716047ec6ee8,umb://media/793af16beff640e89da1ad3bca594b10]]></productImage>
        <category><![CDATA[umb://document/e988b7d373c149abb716eb2baa91cb19]]></category>
        <relatedProducts><![CDATA[umb://document/8fca6ba8d5e04e6782e64e17c94bcf9a]]></relatedProducts>
      </product>
      <product id="1173" key="e2bfcb1c-6435-41c5-ad3c-c3feac610aec" parentID="1071" level="3" creatorID="0" sortOrder="3" createDate="2017-04-18T16:14:21" updateDate="2017-04-19T17:21:47" nodeName="Build your own computer" urlName="build-your-own-computer" path="-1,1056,1071,1173" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[3]]></nopId>
        <productImage><![CDATA[umb://media/09eed6e3549c4abb98847fdd6eece822]]></productImage>
      </product>
      <product id="1175" key="84c5cbb6-f48d-4f24-afba-e1120fac778b" parentID="1071" level="3" creatorID="0" sortOrder="4" createDate="2017-04-18T16:32:44" updateDate="2017-04-19T17:35:22" nodeName="Build your own computer (1)" urlName="build-your-own-computer-1" path="-1,1056,1071,1175" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[7]]></nopId>
        <productImage><![CDATA[umb://media/09eed6e3549c4abb98847fdd6eece822]]></productImage>
        <category><![CDATA[umb://document/e9ef22dc057f4da49cc2de193ed32acc]]></category>
      </product>
      <product id="1176" key="ff6188f6-ddee-4de5-b1a1-e5b5eea6ef35" parentID="1071" level="3" creatorID="0" sortOrder="5" createDate="2017-04-19T16:51:31" updateDate="2017-04-19T16:55:56" nodeName="Apple iCam" urlName="apple-icam" path="-1,1056,1071,1176" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[17]]></nopId>
        <productDescription><![CDATA[<p>With fifth-generation Intel Core processors, the latest graphics, and faster flash storage, the incredibly advanced MacBook Pro with Retina display moves even further ahead in performance and battery life.* *Compared with the previous generation.</p>
<p>Retina display with 2560-by-1600 resolution</p>
<p>Fifth-generation dual-core Intel Core i5 processor</p>
<p>Intel Iris Graphics</p>
<p>Up to 9 hours of battery life1</p>
<p>Faster flash storage2</p>
<p>802.11ac Wi-Fi</p>
<p>Two Thunderbolt 2 ports for connecting high-performance devices and transferring data at lightning speed</p>
<p>Two USB 3 ports (compatible with USB 2 devices) and HDMI</p>
<p>FaceTime HD camera</p>
<p>Pages, Numbers, Keynote, iPhoto, iMovie, GarageBand included</p>
<p>OS X, the world's most advanced desktop operating system</p>]]></productDescription>
        <description><![CDATA[A groundbreaking Retina display. A new force-sensing trackpad. All-flash architecture. Powerful dual-core and quad-core Intel processors. Together, these features take the notebook to a new level of performance. And they will do the same for you in everything you create.]]></description>
        <productImage><![CDATA[umb://media/771711b637724321bed1f1aea1877078]]></productImage>
        <category><![CDATA[umb://document/e988b7d373c149abb716eb2baa91cb19]]></category>
        <relatedProducts><![CDATA[umb://document/8fca6ba8d5e04e6782e64e17c94bcf9a]]></relatedProducts>
      </product>
      <product id="1183" key="c34fcd4d-c278-4e35-a237-99d7dcdcb839" parentID="1071" level="3" creatorID="0" sortOrder="6" createDate="2017-04-19T17:03:51" updateDate="2017-04-19T17:03:51" nodeName="Leica T Mirrorless Digital Camera" urlName="leica-t-mirrorless-digital-camera" path="-1,1056,1071,1183" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[16]]></nopId>
        <productImage><![CDATA[umb://media/cc0290d62b254d83bb39618ab8e88a2d]]></productImage>
      </product>
      <product id="1184" key="cef8eb2a-baa7-40cd-9e9f-8ae0071dc635" parentID="1071" level="3" creatorID="0" sortOrder="7" createDate="2017-04-19T17:04:53" updateDate="2017-04-19T17:04:53" nodeName="First Prize Pies" urlName="first-prize-pies" path="-1,1056,1071,1184" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[38]]></nopId>
        <productImage><![CDATA[umb://media/55f592f7a2b04b9caa783a48ba201867]]></productImage>
      </product>
      <product id="1185" key="51a229fc-e1b0-41a0-92a0-f50b918cd0a3" parentID="1071" level="3" creatorID="0" sortOrder="8" createDate="2017-04-19T17:05:44" updateDate="2017-04-19T17:05:44" nodeName="Adobe Photoshop CS4" urlName="adobe-photoshop-cs4" path="-1,1056,1071,1185" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[10]]></nopId>
        <productImage><![CDATA[umb://media/5d159106e8294ca5898a5ed2bdc78aca]]></productImage>
      </product>
      <product id="1186" key="7fc6c62b-b8de-47c9-aded-93854daa9d73" parentID="1071" level="3" creatorID="0" sortOrder="9" createDate="2017-04-19T17:06:59" updateDate="2017-04-19T17:06:59" nodeName="Fahrenheit 451 by Ray Bradbury" urlName="fahrenheit-451-by-ray-bradbury" path="-1,1056,1071,1186" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[37]]></nopId>
        <productImage><![CDATA[umb://media/a8246dd1aec541efbf24c97cbdcf65ed]]></productImage>
      </product>
      <product id="1187" key="142620f4-996f-4749-8f1e-a0df5b35cb25" parentID="1071" level="3" creatorID="0" sortOrder="10" createDate="2017-04-19T17:07:49" updateDate="2017-04-19T17:07:49" nodeName="Nike Floral Roshe Customized Running Shoes" urlName="nike-floral-roshe-customized-running-shoes" path="-1,1056,1071,1187" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="product">
        <nopId><![CDATA[24]]></nopId>
        <productImage><![CDATA[umb://media/83ff03a7097447f7990a1cfc69109939]]></productImage>
      </product>
    </productsOverview>
    <contentPage id="1147" key="09471c26-4349-413f-abdf-515e7b7527e5" parentID="1056" level="2" creatorID="0" sortOrder="4" createDate="2017-04-18T12:04:02" updateDate="2017-04-18T12:04:02" nodeName="Shipping &amp; returns" urlName="shipping-returns" path="-1,1056,1147" isDoc="" nodeType="1050" creatorName="admin" writerName="admin" writerID="0" template="1049" nodeTypeAlias="contentPage">
      <hideChildren>0</hideChildren>
      <umbracoNaviHide>0</umbracoNaviHide>
      <noFollow>0</noFollow>
      <noIndex>0</noIndex>
      <pageContent><![CDATA[<p><span>Put your shipping &amp; returns information here. You can edit this in the admin site.</span></p>]]></pageContent>
    </contentPage>
    <contentPage id="1148" key="48cae449-f602-4cbd-bab1-9e4a498930a1" parentID="1056" level="2" creatorID="0" sortOrder="5" createDate="2017-04-18T12:04:41" updateDate="2017-04-18T12:04:41" nodeName="Privacy notice" urlName="privacy-notice" path="-1,1056,1148" isDoc="" nodeType="1050" creatorName="admin" writerName="admin" writerID="0" template="1049" nodeTypeAlias="contentPage">
      <hideChildren>0</hideChildren>
      <umbracoNaviHide>0</umbracoNaviHide>
      <noFollow>0</noFollow>
      <noIndex>0</noIndex>
      <pageContent><![CDATA[<p><span>Put your privacy policy information here. You can edit this in the admin site.</span></p>]]></pageContent>
    </contentPage>
    <contentPage id="1149" key="39ee51f0-2b88-4ce8-a866-a2fb830cf31f" parentID="1056" level="2" creatorID="0" sortOrder="6" createDate="2017-04-18T12:05:11" updateDate="2017-04-18T12:05:11" nodeName="Conditions of Use" urlName="conditions-of-use" path="-1,1056,1149" isDoc="" nodeType="1050" creatorName="admin" writerName="admin" writerID="0" template="1049" nodeTypeAlias="contentPage">
      <hideChildren>0</hideChildren>
      <umbracoNaviHide>0</umbracoNaviHide>
      <noFollow>0</noFollow>
      <noIndex>0</noIndex>
      <pageContent><![CDATA[<p><span>Put your conditions of use information here. You can edit this in the admin site.</span></p>]]></pageContent>
    </contentPage>
    <sitemap id="1152" key="481d19b5-0210-4d5f-a978-ff2b37ff64df" parentID="1056" level="2" creatorID="0" sortOrder="7" createDate="2017-04-18T12:23:43" updateDate="2017-04-18T12:27:13" nodeName="Sitemap" urlName="sitemap" path="-1,1056,1152" isDoc="" nodeType="1151" creatorName="admin" writerName="admin" writerID="0" template="1150" nodeTypeAlias="sitemap">
      <hideChildren>0</hideChildren>
      <umbracoNaviHide>0</umbracoNaviHide>
      <noFollow>0</noFollow>
      <noIndex>0</noIndex>
      <description><![CDATA[<p><span>View the sitemap for this website below, with links to each of the pages and brief descriptions of what to find in each section</span></p>]]></description>
    </sitemap>
    <cart id="1155" key="19e76be4-8fce-4070-a514-92e4bf8f68f2" parentID="1056" level="2" creatorID="0" sortOrder="8" createDate="2017-04-18T12:38:54" updateDate="2017-04-18T12:38:54" nodeName="Cart" urlName="cart" path="-1,1056,1155" isDoc="" nodeType="1154" creatorName="admin" writerName="admin" writerID="0" template="1153" nodeTypeAlias="cart">
      <hideChildren>0</hideChildren>
      <umbracoNaviHide>0</umbracoNaviHide>
      <noFollow>0</noFollow>
      <noIndex>0</noIndex>
    </cart>
    <login id="1162" key="07775b09-2689-4cb4-8f81-ef2cadf0700c" parentID="1056" level="2" creatorID="0" sortOrder="9" createDate="2017-04-18T13:20:49" updateDate="2017-04-18T13:24:01" nodeName="Login" urlName="login" path="-1,1056,1162" isDoc="" nodeType="1159" creatorName="admin" writerName="admin" writerID="0" template="1158" nodeTypeAlias="login">
      <hideChildren>0</hideChildren>
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Welcome, Please Sign In!]]></pageTitle>
      <noFollow>0</noFollow>
      <noIndex>0</noIndex>
    </login>
    <register id="1163" key="77ef1c07-bcdd-422d-aea4-cd378d1f0496" parentID="1056" level="2" creatorID="0" sortOrder="10" createDate="2017-04-18T13:21:00" updateDate="2017-04-18T14:43:36" nodeName="Register" urlName="register" path="-1,1056,1163" isDoc="" nodeType="1161" creatorName="admin" writerName="admin" writerID="0" template="1160" nodeTypeAlias="register">
      <hideChildren>0</hideChildren>
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Register]]></pageTitle>
      <noFollow>0</noFollow>
      <noIndex>0</noIndex>
    </register>
  </homePage>
</root>