@model Nop.Integration.Umbraco.Models.ProductAttributeMapping

<dt id="product_attribute_label_@Model.Id">
    <label class="text-prompt">
        @Model.ProductAttributeName
        @if (Model.IsRequired)
        { <span class="required">*</span> }
    </label>
</dt>

<dd id="product_attribute_input_@Model.Id">
    <ul class="option-list">
        @foreach (var option in Model.ProductAttributeValues)
        {
            <li>
                <input id="product_attribute_@(string.Format("{0}_{1}", Model.Id, option.Id))" type="checkbox" name="product_attribute_@Model.Id" value="@option.Id">
                <label for="product_attribute_@(string.Format("{0}_{1}", Model.Id, option.Id))">@option.Name</label>
            </li>
        }
    </ul>
</dd>



