@model Nop.Integration.Umbraco.Models.ProductAttributeMapping


<dt id="product_attribute_label_@Model.Id">
    <label class="text-prompt">
        @Model.ProductAttributeName
        @if (Model.IsRequired)
        { <span class="required">*</span> }
    </label>
</dt>
<dd id="product_attribute_input_@Model.Id">
    <select name="product_attribute_@Model.Id" id="product_attribute_@Model.Id">
        @foreach (var option in Model.ProductAttributeValues)
        {
            <option value="@option.Id">@option.Name</option>
        }
    </select>
</dd>


